/* Artfully masterminded by ZURB  */
body { font-family: 'OpenSans'; background: url('/static/img/dark.png'); color: #999; }
h1, h2, h3, h4, h5, p, td, th, li, dd, a { font-family: 'Open Sans'; font-weight: normal; }

hr { border: solid #666; border-width: 1px 0 0; }
/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


