extends 'layout.jade'
block content
    h1 Ketentuan Layanan
    ol
        li Layanan ini berjalan pada Internet, segala fasilitas untuk mengakses layanan ini tanggung jawab pengguna
        li Tidak dipungut biaya untuk menggunakan layanan ini
        li Kemampuan layanan ini apa adanya, dan mungkin tidak cocok dengan kebutuhan anda. Namun, kami berusaha untuk menyempurnakan layanan ini
        li Untuk menjaga data anda tetap aman, lakukan backup data anda secara rutin
